<br>
<div class="card mb-3" style="width:80%;margin-left:10%;height:auto;">
    <img class="card-img-top" src="assets/img/ongoing_candidate1 (5).png" alt="Card image cap">
    <div class="card-img-overlay">
        <h5 class="live"><span style="font-size: large;">&#8226;</span>Live</h5>
    </div>
    <div class="card-body">
      <p style="text-align:left;">
        <strong><img src="assets/img/Job_White.png"> &nbsp; Android Developer</strong>
        <span style="float:right;">
            <strong><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Banglore</strong>
        </span>
    </p>
    <div> 

   
      <p class="box"><strong>Techincal Interview</strong><br><small>Enter into the room and start taking interview!</small><br><br>
        <button class="btn btn-primary btn-md" style="background-color:#364DFF;width:70%;
        height:30%;">Enter</button><br><br></p>
      <p class="card-text">Skills: Java, Android Studio..</p>
      <p class="card-text"><small class="text-muted"><strong>Experience: 0-3 Years</strong></small></p>
      <p class="card-text"><small class="text-muted"><strong>Vacancies: 3</strong></small></p>
      <p class="card-text"><small class="text-muted"><strong>Salary Package: NA</strong></small></p>
      
    </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  
