<br>
<div class="card mb-3" style="width:80%;margin-left:10%;height:auto;">
    <img class="card-img-top" src="assets/img/Rectangle 86 (1).png" alt="Card image cap">
    <div class="card-img-overlay">
        <h5 class="live"><span style="font-size: large;">&#8226;</span>Live</h5>
    </div>

  </div>
  <br>
  <br>
 
  <div class="col-6" style="margin-left:25%;">
      <input type="text" class="form-control fa fa-search" placeholder="&#61442;  Search">
  </div>
  <br>
  <br>
  <div class="container">
      <div class="row">
          <div class="col-3">
          <p>Subscription Options</p>
          <h5>Start or Join Plan</h5>
          </div>
          <div class="col-3">
            <p>ACCOUNT HELP</p>
            <h5>Can’t remember login details</h5>
        </div>
        <div class="col-3">
            <p>ACCOUNT HELP</p>
            <h5>Can't reset password</h5>
        </div>
        <div class="col-3">
            <p>PRIVACY & SECURITY</p>
            <h5>Is this Spotify email legit?</h5>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  
