
<div class="sidenav">
    <a href="#"><img src="assets\img\Frame1.png" style="width:70%;padding-bottom: 12px;"></a>
    
    
    <a href="#"><img src="assets\img\Home_Active.png" style="width:75%"></a>
    <a href="#"><img src="assets\img\GoBackToWalkin.png" style="width:75%;padding-bottom:475px"></a>


    <div class="backgroundblue" >
    <a href="#"><img src="assets\img\Notification_1.png" style="width:110%;padding-right: 10px;"></a>
    <a href="#"><img src="assets\img\Help.png" style="width:110%;padding-right:10px;"></a>
    </div>
  </div>
  
  <!-- Page content -->
  
