
<mat-toolbar>
    <h5 class="form-group walkintype" style="margin-left:9%;color: mintcream;">
        Group Discussion Room
    </h5>
  </mat-toolbar>
  <div class="rightsidemenu" style="text-align: center;">
     <a href="#" ><img src="assets/img/Slider Arrow Right.png" alt=""></a><br>
     <a href="#"  ><img src="assets/img/chat.png" alt=""></a>
     <a href="#"  ><img src="assets/img/Candidates.png" alt=""></a>
     <a href="#"  ><img src="assets/img/Vector (3).png" alt=""></a>
     <a href="#" ><img src="assets/img/Candidates.png" alt=""></a>
  </div>
  <div>
      
      <button class="btn btn-primary btn-md" style="background-color:#364DFF;width:7%;
    height:90%;margin-left: 90%;">End call</button><br><br>
  </div>
  <div style="margin-left:40%;color: rgb(239, 240, 243);">
<p> Getting Candidate ready for you</p>
  </div>
  <div class="container"> 
    <div class="card-group"> 
        <div class="row"> 
            <div class="col-md-3"> 
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate1&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src="assets/img/gd2.png">
                <!-- <div class="button"><small><strong>Candidate5</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd1.png">     -->
            </div> 
            <div class="col-md-3"> 
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate2&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd4.png"> 
                <!-- <div class="button"><small><strong>Candidate6</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd3.png">    -->
            </div> 
            <div class="col-md-3">
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate3&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd6.png">  
                <!-- <div class="button"><small><strong>Candidate7</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd5.png">    -->
            </div> 
            <div class="col-md-3"> 
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate4&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd8.png">  
                <!-- <div class="button"><small><strong>Candidate8</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd7.png">  -->
            </div> 
        </div>
    </div>
  </div>

  <div class="container"> 
    <div class="card-group"> 
        <div class="row"> 
            <div class="col-md-3"> 
                <!-- <div class="button"><small><strong>Candidate1</strong></small></div>
                <img class="card-img-top" src="assets/img/gd2.png"> -->
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate5&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd1.png">    
            </div> 
            <div class="col-md-3"> 
                <!-- <div class="button"><small><strong>Candidate2</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd4.png">  -->
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate6&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd3.png">   
            </div> 
            <div class="col-md-3">
                <!-- <div class="button"><small><strong>Candidate3</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd6.png">   -->
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate7&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd5.png">   
            </div> 
            <div class="col-md-3"> 
                <!-- <div class="button"><small><strong>Candidate4</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd8.png">   -->
                <div class="button"><small><strong>&nbsp;&nbsp;Candidate8&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src= "assets/img/gd7.png"> 
            </div> 
        </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container" style="margin-left:40%;"> 
    <div class="card-group"> 
        <div class="row" > 
            <div class="col-md-9"> 
                <div class="button"><small><strong>&nbsp;&nbsp;You&nbsp;&nbsp;</strong></small></div>
                <img class="card-img-top" src="assets/img/O5MC2V0 4.png"> 
            </div> 
          
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>



  <!-- <div class="card-group" style="margin-left: 10%;">
    <div >
      <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
    
    </div>
    <div >
      <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
     
    </div>
    <div >
      <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
     
    </div>
    <div >
        <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
       
      </div>
  </div>

  <div class="card-group" style="margin-left: 10%;">
    <div >
      <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
    
    </div>
    <div >
      <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
     
    </div>
    <div >
      <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
     
    </div>
    <div >
        <img src="assets/img/candidate1.png" class="card-img-top" alt="...">
       
      </div>
  </div> -->


  





