<div id="mmenu_screen" class="container-fluid bg-white text-black d-flex">
    <div class="row flex-fill">
        <div class="col-sm-6 hide6">
            <div class="hero-image"></div>
  
        </div>
        <div class="col-sm-6">
            <div class="OuterDiv">
                <div class="imgcontainer">
                    <img src="https://res-4.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/bgna16t0j0vpou05syxy" alt="Avatar" class="avatar">
                </div>
                <div class="a">
                    <h2>Sign up to DXV Walk-in</h2>
                   
                </div><br><br>
               
                <div class="a">
                    <h2>Verify Your Email</h2>
                    <p>We have sent an verification link to your email. Verify now and start using Dxminds Virtual Interview for your hiring needs!</p>
                    <p>If you didn’t receive any email, please check your spam folder or rech out to tech@dxminds.com</p>
                </div>
            </div>
        </div>
    </div>
  </div>