
<mat-toolbar>
    <h5 class="form-group walkintype" style="margin-left:9%;color: mintcream;">
        interview Room
    </h5>
  </mat-toolbar>
  <div class="rightsidemenu" style="text-align: center;">
     <a href="#" ><img src="assets/img/Slider Arrow Right.png" alt=""></a><br>
     <a href="#"  ><img src="assets/img/chat.png" alt=""></a>
     <a href="#"  ><img src="assets/img/Candidates.png" alt=""></a>
     <a href="#"  ><img src="assets/img/Vector (3).png" alt=""></a>
     <a href="#" ><img src="assets/img/Candidates.png" alt=""></a>
  
  </div>
  <div style="margin-left:40%;color: rgb(239, 240, 243);">
<p> Getting Candidate ready for you</p>
  </div>
<div class="card" style="width:20%;margin-left:40%;">
    <img class="card-img-top" src="assets/img/ongoing_candidate.png" alt="Card image cap">
    <!-- <div class="card-img-overlay" > -->
        <div class="button"><small><strong>Candidate1</strong></small></div> 
        
    <!-- </div> -->
   
</div>
<div>
    <img style="width:5%;margin-left:47%; " src="assets/img/2.svg">
    

</div>
<br>

<div class="card" style="width:20%;margin-left:40%;">
    <img class="card-img-top" src="assets/img/ongoing_candidate1 (2).png" alt="Card image cap">
    <!-- <div class="card-img-overlay" > -->
        <div class="button"><small><strong>Candidate3</strong></small></div> 
    <!-- </div> -->
   
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


