 
<mat-toolbar>
    <h5 class="form-group walkintype" style="margin-left:9%;color: mintcream;">
        interview Room
    </h5>
  </mat-toolbar>
  <mat-toolbar>
    <p class="form-group walkintype" style="margin-left:37%;color: mintcream;">
        Call disconnected due to some issue 
    </p>
  </mat-toolbar>

<!-- <app-right-sidebar></app-right-sidebar> -->
<div class="container">
<div class="row">
<div class="card" style="width:40%;margin-left:30%;height:auto;">
    <img class="card-img-top" src="assets/img/ongoing_candidate.png" alt="Card image cap">
    <!-- <div class="card-img-overlay" > -->
        <div class="button"><small><strong>You</strong></small></div> 
    <!-- </div> -->
   
</div>

<div style="margin-left: 5%;margin-top: 2%;" class="text">
    <h6>prakash Nandhan</h6>
    <p>prakash@gmail.com</p>
    <p>Angular Fresher</p>
    <p style="color: green;">Resume.pdf</p> 
</div>

</div>
</div>
<br>

<div  class="color_buttons"style="margin-left:50%;">
    <div class="row">
        <div>
            
            <button type="button" class="btn oliver btn-circle btn-xl p-0 text-center"><span class="rounded-circle">reconnect</span></button> 
            

        </div>
      
        <div>
          
            <button type="button" class="btn green btn-circle btn-xl p-0 text-center" (click)="onClick('select')">select</button>
        </div>
            
 
         <br><br><br>
         <div>
            <button type="button" class="btn blue btn-circle btn-xl p-0 text-center" (click)="onhold('hold')">hold</button> <br><br>

         </div>
         <div>
            <button type="button" class="btn red btn-circle btn-xl p-0 text-center" (click)="onreject('rejected')">rejected</button> 

         </div>
    </div>
</div>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  <!-- The Modal -->

  
  <div class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    
    <div class="modal-dialog">
      <img src="assets/img/up-arrow.png" class="arrow1" >
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Move To</h4>
          <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

            <form>
                
            <select class="form-control">
                <option>select Next round</option>
            </select>
            <br>
            <button class="btn btn-primary btn-md" style="background-color:#364DFF;width:100%;
            height:90%;"><strong>Select</strong></button><br><br>
       </form>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>


  <div class="modal" id="myModal" [style.display]="showModal1 ? 'block' : 'none'">
    <div class="modal-dialog">
      <img src="assets/img/up-arrow.png" class="arrow2" >

      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
         
          <button type="button" class="close" data-dismiss="modal" (click) = "hide1()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">

            <form>
                <h6 style="color: white;">Do you want to Hold this candidate?</h6><br>
                <button class="btn btn-primary btn-lg" style="background-color:#364DFF;width:30%;
            height:90%;"><strong>Yes</strong></button>
            <button class="btn btn-primary btn-lg" style="background-color:#1D222F;width:30%;
            height:90%;margin-left:7%;"><strong>NO</strong></button>
           
       </form>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>

  <div class="modal arrow" id="myModal" [style.display]="showModal2 ? 'block' : 'none'">
    <div class="modal-dialog">
      <img src="assets/img/up-arrow.png" class="arrow3" >

      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" (click) = "hide2()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form>
            <h6 style="color: white;">Do you want to Reject this candidate?</h6><br>
            <button class="btn btn-primary btn-lg" style="background-color:#364DFF;width:auto;
            height:90%;"><strong>Yes</strong></button>
            <button class="btn btn-primary btn-lg" style="background-color:#1D222F;width:auto;
            height:90%;margin-left:7%;"><strong>NO</strong></button>   
       </form>
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "hide()">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>







