<div id="mmenu_screen" class="container-fluid bg-white text-black d-flex">
    <div class="row flex-fill">
        <div class="col-sm-6 hide6">
            <div class="hero-image"></div>
  
        </div>
        <div class="col-sm-6">
            <div class="OuterDiv">
                <div class="imgcontainer">
                    <img src="https://res-4.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/bgna16t0j0vpou05syxy" alt="Avatar" class="avatar">
                </div>
                <div>
                    <h3>OTP will be sent to your email address</h3>
                </div>
  
                <form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="Email">
                            </div>
                        </div>
                    </div>
                </form>
                    <div class="row">
                        <div class="col-12" style="text-align: center;">
                          <button type="button" class="btn btn-primary btn-block btn-lg px-7" >Next</button>
                        </div>
                      </div>
               
            </div>
        </div>
    </div>
  </div>