.button{
position: absolute;
width:auto;
height:auto;
/* left: 451px;
top: 590px; */
margin-top: 55%;
margin-left: 2%;
text-align: center;
background: rgba(255, 255, 255, 0.5);
border: 1px solid #FFFFFF;
box-sizing: border-box;
border-radius: 8px;
color: black;
}

.mat-select-content{
    width:2000px;
    /* background-color: red; */
    font-size: 10px;
}

.rightsidemenu{
position: absolute;
width:2.5%;
height:30%;
left: 97.5%;
top:12%;
background: #000000;
border-radius: 10px 0px 0px 10px;
}
.alignleft {
float: left;
width:33.33333%;
text-align:left;
}
.aligncenter {
float: left;
width:33.33333%;
text-align:right;
}
.alignright {
float: left;
width:33.33333%;
text-align:right;
}
body{
background:#ddd;
}
.form-control-borderless {
border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
border: none;
outline: none;
box-shadow: none;
}
#green{
color: rgb(243, 250, 246);
}
#green option { color: black; }
#green option:first-child{
color: rgb(10, 10, 10);
}
#green1{
color:black;
}

#green1 option { color:black; }
#green1 option:first-child{
color:white;
}
#color{
color:black;
}

#color option { color:black; }
#color option:first-child{
color:white;
}



.card{
background: #1D222F;
color:white;

}
.box{
background: #2d3444;

}
.table{
color:white;

}
select{
background-color: #2d3444;
}

select option {
margin: 40px; 
background: white;
color:rgb(8, 8, 8);
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
text-align: center;
}

select#color option[value="Selected"]   { color: springgreen; background-image:url('assets/img/select.png');   }
select#color option[value="Rejected"]   { background-image:url('assets/img/reject.png');   }

select#color option[value="Hold"]   { background-image:url('assets/img/hold.png');   }

.icon-play {
background-image : url('assets/img/select.png') no-repeat;
background-position: center center;
height: 15px;
width: 15px;
}
tr td{
min-width: 10px;
}

#color option[value="Selected"]
{
    color: springgreen;
}
.drop{
    width: 50%;
}

  