<div>
    <p>&nbsp;
    </p> 
    
    </div>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  
    <div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="card-group">
                  <div class="card">  
                    <div class="hero-image">
                      <div class="text-block form-group">
                        <img src="assets\img\DXWalkin helps you find the perfect Hire _.png" style="width:100%;" class="responsive">
                        <h4 style="color:rgb(237, 237, 243)" class="responsive">Our solutions drive the future of hiring.</h4>
                      </div>
                    </div>
            
                </div>
                
                  <div class="card py-1 px-1">
                    <div class="card-body ">
                        <div class="imgcontainer">
                          <img src="assets\img\logo.png" style="padding-top:30%;" >
                        </div>
                        <div class="a" >
                          <h3> {{text}}</h3>
                      </div>
                        
                        <form #userForm="ngForm" (ngSubmit)="onSubmit()" >
                          <!-- {{userForm.value | json}} -->
                          <!-- {{userForm.form.valid}} -->
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label for="name">Email</label>
                              <input  [(ngModel)]="email"  #emailfield="ngModel" type="email" class="form-control"
                               [class.is-invalid]="emailfield.invalid && emailfield.touched" name="email"  placeholder="Emai" 
                                required emailPattern = "^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [pattern]="emailPattern" >
                              <small class="text-danger" [class.d-none]="emailfield.valid || emailfield.untouched">Email field is required</small>
                              <!-- <div *ngIf="emailfield.errors && (emailfield.invalid || emailfield.touched )">
                                <small class="text-danger" *ngIf="emailfield.errors.required" >Email is required</small>
                                <small class="text-danger" *ngIf="emailfield.errors.pattern">Please Enter Proper email Format</small>
                              </div> -->
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12" style="text-align: center;">
                            <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary btn-lg px-7 btn-block" style="background-color: blue;"  >Continue</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
  
      
      