<div class="app-body">
    <main class="main d-flex align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="card-group">
              <div class="card">
                
                <div class="hero-image">
                
                </div>
              
            </div>
              <div class="card py-1 px-4">
                <div class="card-body">
                    <div class="imgcontainer">
                      <img src="https://res-4.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco/bgna16t0j0vpou05syxy" alt="Avatar" class="avatar">
                    </div>
                    <div class="a">
                        <h2>Welcome to Dxminds Virtual Interview</h2>
                        <p>Already have account ? <a>login</a></p>
                    </div>

                    <form>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label for="name">First Name</label> -->
                          <input type="text" class="form-control" id="name" placeholder="First Name">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <!-- <label for="ccnumber">Last Name</label> -->
                          <input type="text" class="form-control" id="ccnumber" placeholder="Last Name">
                        </div>
                      </div>
                    </div><!--/.row-->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <!-- <label for="name">Company Email</label> -->
                          <input type="text" class="form-control" id="name" placeholder="Company Emai">
                        </div>
                      </div>
                    </div><!--/.row-->
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <!-- <label for="name">Company Name</label> -->
                          <input type="text" class="form-control" id="name" placeholder="Company Name">
                        </div>
                      </div>
                    </div><!--/.row-->
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <!-- <label for="name">First Name</label> -->
                            <select class="form-control" id="ccmonth">
                                <option>Country</option>
                                <option>2</option>
                                <option>3</option>
                              </select>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <!-- <label for="ccnumber">Last Name</label> -->
                            <input type="text" class="form-control" id="ccnumber" placeholder="Phone Number">
                          </div>
                        </div>
                      </div><!--/.row-->
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <!-- <label for="name">First Name</label> -->
                            <input type="text" class="form-control" id="name" placeholder="Create Password">
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <!-- <label for="ccnumber">Last Name</label> -->
                            <input type="text" class="form-control" id="ccnumber" placeholder="Confirm Password">
                          </div>
                        </div>
                      </div><!--/.row-->
                    <div class="row">
                      <div class="col-12" style="text-align: center;">
                        <button type="button" class="btn btn-primary btn-block btn-lg px-7" >Signup</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  