<div class="rightsidemenu" style="text-align: center;">
      <mat-button-toggle-group  name="fontStyle" aria-label="Font Style" vertical>
      <mat-button-toggle class="right_menu"  value="bold" mat-button (click)="drawer.toggle()"><img src="assets/img/Slider Arrow Right.png">
      </mat-button-toggle>
      <mat-button-toggle class="right_menu" ></mat-button-toggle>
      <mat-button-toggle class="right_menu" value="italic"><img src="assets/img/chat _mess.png"></mat-button-toggle>
      <mat-button-toggle class="right_menu" ></mat-button-toggle>
      <mat-button-toggle class="right_menu" value="underline"><img src="assets/img/CandidatesGroup.png"></mat-button-toggle>
      <mat-button-toggle class="right_menu" ></mat-button-toggle>
      <mat-button-toggle class="right_menu" value="underline"><img src="assets/img/Code.png"></mat-button-toggle>
      <mat-button-toggle class="right_menu" ></mat-button-toggle>
      <mat-button-toggle class="right_menu" value="underline"><img src="assets/img/Attach_File.png"></mat-button-toggle>
      

    </mat-button-toggle-group>
     <mat-drawer-container class="example-container" autosize>
       <div class="example-sidenav-content">
      <!-- <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button> -->
   
    </div>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Chat Rooms">
          
        </mat-tab>
        <mat-tab label="Candidates"> </mat-tab>
       
      </mat-tab-group>
    </mat-drawer>  
  </mat-drawer-container>
  
  
     

  </div>