 
<mat-toolbar>
    <h5 class="form-group walkintype" style="margin-left:9%;color: mintcream;">
        interview Room
    </h5>
  </mat-toolbar>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!-- <app-right-sidebar></app-right-sidebar> -->
<div class="card" style="width:30%;margin-left:30%;">
    <img class="card-img-top" src="assets/img/ongoing_candidate.png" alt="Card image cap">
    <!-- <div class="card-img-overlay" > -->
        <div class="button"><small><strong>You</strong></small></div> 
    <!-- </div> -->
   
</div>
<br>
<br>
<br>
<div>
    <button class="btn btn-primary btn-md" style="background-color:#364DFF;width:30%;
    height:30%;margin-left:30%;">Start</button><br><br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <br>
    <br>


